<div class="banner">
    <section id="experience" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Experience</h2>
          </div>
          <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
              <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                <a href="https://satvatinfosol.com/" target="_blank"><img src="https://satvatinfosol.com/assets/img/logo.png" class="img-fluid" style="float:left;margin:0 10px 0 0;" width="90"></a>
                <h4 style="text-align:left;"><a href="https://is.mpg.de/" target="_blank" style="color:#12d640">Satvat Infosol Pvt Ltd</a><br> </h4>
                <h5 style="text-align:left;"><em>Full Stack Internship Trainee</em></h5>
                <span class="left" style="float:left;color:#fff;"><em>June 2022 - july 2022</em></span>
                <span class="right" style="float:right;color:#fff;"><em>Adayar, Chennai, India</em></span><br><br>
                <ul style="text-align:left;">
                  <li>
                    Worked in a real time project using NodeJS, JavaScript, Angular13  
                  </li>
                  <li>
                    Worked in an Online Examination Project
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      </div>