<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <img  src="/src/assets/img/tea.jpeg" width="200" height="300">
            </div>
            <div class="col-xl-8">
                <h2 class="text-center">About</h2>
                <div class="row">
                    <p style="padding:auto ;"><strong>My name is Jithin Vijayan, I Completed a Master of Science in Computer Science at Annai
                        Violet College, Chennai in the 2022 batch.
                        I completed a "FULL STACK DEVELOPER" course at Beeja Academy (Adyar) Chennai.
                        during my last semester, and I also completed a month-long internship at Satvat Infosol
                        Pvt Ltd. Chennai.
                        I have strong design and integration skills, as well as intuitive problem-solving abilities. I
                        am extremely passionate about Node JS, JavaScript, and SQL, as well as the
                        implementation and launch of new projects. With the capability of converting Business
                        requirements into technical solutions,</strong></p>
                </div>
                
            </div>
        </div>
    </div>
    </div>