<div class="banner">
    <div class="content">
        <h1 class="mb-5">Hey , I am JITHIN VIJAYAN <br>I am a Web Developer... </h1>
        
        <div class="sm-6">
        <a routerLink="about">About <i class="bi bi-arrow-right"></i></a>
        <a routerLink="skills">MY skills <i class="bi bi-arrow-right"></i></a>
        <a routerLink="experience">MY Experience <i class="bi bi-arrow-right"></i></a>
        <a routerLink="projects">MY Projects <i class="bi bi-arrow-right"></i></a>
        <a routerLink="contact">Contact Me. <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

